body{
    margin: 20px 0 0;
    font-family: 'Poppins', sans-serif;    
}
header h1{
    color: coral;
    text-align: center;
}

ul {
    list-style-type: none;
    overflow: hidden;
    margin: auto;
    padding: auto;
    text-align: center;
  }
  
  li {
    float: left;
    margin: auto;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
 li a:hover {
    background-color: rgb(230, 99, 24);
  }
section{
    height: 375px;
    margin: 5% auto;
    padding-left: 5%;      
}

span{
    color: orange;
}

nav{
    padding-left: 400px;   
    background-color: rgb(116, 190, 240);
}
#aboutme{
    background-image: url("images/Frame\ 57.jpg");
    
}
.half-width{
        width:40%;
        float: left;
        margin-left: 10%;
        padding-top: 5px;              
}
.one-third{
    width:25%;
    float: left;
    margin-left: 3%;
    padding: 2% 1%;
    text-align: center;
}
.half-width img{
    width: 60%; 
    padding-bottom: 2%; 
    display: inline-block;
}
.one-third img{
    width: 90%;    
}
footer{
    text-align: center;
    background-color: black;
    color: cornsilk;
    padding: 30px;
    margin: 0;
}
.anchor-button{
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 50px;
    color: white;
    font-weight: 700;
    display: inline-block;
    margin-top: 20px;
}
.box-shadow{
    box-shadow: 0 0 4px rgba(0,0,0,0.6);
    border-radius: 10px;
}
.social-media{
    height: 100px;
    width:75%;
    margin: 15% auto 5%;
    padding-top:0;
    padding-bottom: 4%;
}
#recipe{
    text-align: center;
    padding-top: 0;
    margin: auto;
}
